<div class="common ">
  <div class="column">
    <h2>Current list</h2>
    <div  *ngFor="let task of Tasks">
      <h5>{{ task.title }}</h5>

      <button (click)="Add(task)" class="btn btn-success">Add</button>
    </div>
  </div>
  <button (click)="showTask()">Add Task</button>
  <div class="create_task">
    <h2>Create to do list</h2>
    <input [(ngModel)]="Task.Name" class="form-control" placeholder="name" />
    <input  [(ngModel)]="Task.Description"
      class="form-control"
      placeholder="name"
    />

    <input [(ngModel)]="Task.Date" type="datetime"/>

    <button (click)="addTask(Task)" class="btn btn-secondary">Add!</button>
  </div>
</div> 
